@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
  }

.dark {
    --background: 270 30% 10%;
    --foreground: 270 15% 90%;
    --card: 270 30% 12%;
    --card-foreground: 270 15% 90%;
    --popover: 270 30% 12%;
    --popover-foreground: 270 15% 90%;
    --primary: 260 40% 50%;
    --primary-foreground: 240 7% 95%;
    --secondary: 250 30% 20%;
    --secondary-foreground: 260 25% 90%;
    --muted: 250 22% 15%;
    --muted-foreground: 250 15% 80%;
    --accent: 260 45% 10%;
    --accent-foreground: 260 25% 90%;
    --destructive: 345 90% 50%;
    --destructive-foreground: 240 7% 95%;
    --border: 250 15% 25%;
    --input: 250 15% 25%;
    --ring: 260 40% 50%;
  }
}

.logo-gradient {
  background-image: linear-gradient(to right, hsl(280, 100%, 68%), hsla(214, 100%, 50%, 0.795), hsl(32, 100%, 50%));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
